@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500|Raleway:400,700');

body {

    font-family: 'Montserrat', sans-serif;

}

nav {

  font-family: 'Montserrat', sans-serif;
  padding-top: 1%;
  display: flex;
  justify-content:space-between;
  background: linear-gradient(rgba(0,0,0,0.4), transparent);

}

.logo {

  margin-left: 10px;
  margin-top : -8px;


}

.menu {

  display: flex;
  margin : 0%;
  font-size : 16px;
  font-weight: 500;

}

.menu a {

  text-decoration: none;
  color : white;
  opacity: 0;
  transform: translateY(-10px);
  transition : .3s;

}

.menu a:hover {

  color :white;

}

.item-nav {

  padding : 0px 20px 20px 20px;
  letter-spacing: 2px;
  text-decoration: none;


}

.item-nav::after {

  display: block;
  content: '';
  background-color : white;
  margin : 5px auto;
  width : 0px;
  height: 1px;

  transition: .5s;
}

.item-nav:hover::after {

  width : 60px;

}


.current::after {

  height: 1px;
  width : 60px;

}



.menu a:nth-child(1) {

  animation: menu 1s ease forwards .5s;

}

.menu a:nth-child(2) {

  animation: menu 1s ease forwards .8s;

}

.menu a:nth-child(3) {

  animation: menu 1s ease forwards 1.1s;

}

@keyframes menu {

  100% {transform: translateY(0px); opacity: 1;}

}

.container-1 {

  background-image: url(../img/background-4.jpg);
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  margin : auto;
  height: 100vh;

}

.photographer {

  font-family: 'Raleway', sans-serif;
  color : white;
  font-weight: 400;
  font-size : 78px;
  letter-spacing: 5px;
  text-align: center;
  border : 3px solid white;
  margin : 10% auto;
  padding : 30px;
  width : 50%;
  opacity: 0;
  transform: translateY(15px);

  animation : photographer 1s ease forwards .5s;

}

@keyframes photographer {

  100% {opacity: 1; transform: translateY(0px);}

}

.arrow {

    opacity: 0;
    animation : div-arrow 3s ease forwards .5s;

}

@keyframes div-arrow  {

  100% {opacity: 1;}

}

 .container-1 svg {

  display: block;
  margin : auto;
  opacity: 0;

  animation : arrow 2.5s ease infinite 1.1s;
}

@keyframes arrow {

  0% {transform: translateY(10px); opacity: 1;}
  25% {transform: translateY(0px); opacity: 1;}
  50% {transform: translateY(0px); opacity: 1;}
  75% {transform: translateY(0px); opacity: 1;}
  100% {transform: translateY(10px); opacity : 1;}
}

.row a {

  text-decoration: none;

}


.intro-title {

  color : #636363 ;
  width : 100%;
  font-size : 50px;
  letter-spacing: 5px;
  margin : 5% auto;
  text-align: center;

}

.intro-title::after {

  content:'';
  display: block;
  background-color :  #373737 ;
  margin: 1% auto;
  width : 100px;
  height: 1px;

}

.container {
background-color : /*#bab5c6*/;

}

.container a {

  text-decoration: none;

}

.thumbnail {

  margin-top: 20%;
  padding: 0px;
  border-radius: 0px;
  border : 0px;
  box-shadow: 0 0px 10px rgba(0,0,0,0.2);

  transition: .3s;
}

.thumbnail:hover {

  box-shadow: 0 0px 30px rgba(0,0,0,0.2);

}

.thumbnail img {

  max-height: 270px;
  min-height: 270px;
  width : 100%;

}

.readmore {

  padding : 15px;
  text-align: right;

}

.loadmore {

  display : block;
  width : 30%;
  margin : 5% auto;
  text-align: center;
  padding : 15px;
  text-decoration: none;
  border : 1px solid  #373737;
  color : black;
  transition : all .5s;
  cursor: pointer;

}

.loadmore:hover {

  background-color :  #373737;
  color : white;
  border : 1px solid white;

}

footer {

    display: flex;
    justify-content: space-between;
    width : 100%;
    margin-top : 5%;
    padding : 1% 1% 1% 1%;
    bottom: 0;
    background-color :rgba(0,0,0,0.1);

}


footer a {

  padding : 0px 20px 0 20px;
  text-decoration: none;
  transition : .3s;
}

footer span {

  font-size : 20px;
  color : #373737;

}

footer a:hover {

  text-decoration: none;

}

.twitter::after {

  font-family: FontAwesome;
  content: '\f099';
  color :  #2ddcff ;


}

.insta::after {

  font-family: FontAwesome;
  content: '\f16d';
  background: -webkit-linear-gradient(#833ab4, #fd1d1d,#fcb045);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.facebook::after {

  font-family: FontAwesome;
  content: '\f09a';
  color : #3b5998;

}

.pinterest::after {

  font-family: FontAwesome;
  content: '\f0d2';
  color : #cb2027;

}

.flickr::after {

  font-family: FontAwesome;
  content: '\f16e';
  color : #da2e87;

}



.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}


/* Mobile-specific media queries */

@media screen and (max-width: 65em) { /*tablette*/



}


@media screen and (max-width: 45em) { /*portable classique*/



  .menu {

    display: flex;
    margin: 0%;
    font-size : 12px;
    font-weight: 500;

  }

  .logo {

    margin-top : 0px;


  }

  .item-nav {

    padding : 0px 8px 20px 8px;
    letter-spacing: 0px;
    text-decoration: none;


  }

  footer a {

    padding : 0px 8px 0 8px;
    text-decoration: none;
    transition : .3s;
  }

  footer span {

    font-size : 16px;
    color : #373737;

  }

  .photographer {

    font-size : 42px;
    letter-spacing: 2px;
    margin : 25% auto;
    width : 70%;

  }

  .intro-title {

    font-size : 40px;
    letter-spacing: 2px;
    margin : 5% auto;
    text-align: center;

  }


}

@media screen and (max-height: 35em) { /*petit écran*/

}
